<div class="row">
  <div class="col-md-12 col-sm-12">
     <div class="card card-box">
        <div class="card-head">
           <header>
              <h1>User List</h1>
           </header>
           <div class="card-body">
              <div class="table-wrap">
                 <div class="table-responsive">
                    <table class="table display product-overview mb-30">
                       <thead>
                          <th>
                             <h3>User ID</h3>
                          </th>
                          <th>
                             <h3>User Name</h3>
                          </th>
                          <th>
                             <h3>Email</h3>
                          </th>
                          <th>
                             <h3>Phone</h3>
                          </th>
                          <th>
                             <h3>Role</h3>
                          </th>
                          <th>
                             <h3>Action</h3>
                          </th>

                          
                       </thead>
                       <tbody>
                        <tr *ngFor="let worker of workers">
                          <td>{{ worker.userId }}</td>
                          <td>{{ worker.userName }}</td>
                          <td>{{ worker.email }}</td>
                          <td>{{ worker.phone}}</td>
                          <td>{{ worker.role }}</td>
                          <td><button (click)="deleteWorker(worker.userId)">Delete</button></td>
                        </tr>
                      </tbody>
                    </table>
                 </div>
              </div>
           </div>

        </div>
     </div>
  </div>
</div>