<div class="sidebar">
  <div class="sidemenu-container navbar-collapse fixed-menu">
    <div class="left-sidemenu">
     
        <div class="section">
          <div class="sidemenu  page-header-fixed " data-keep-expanded="false"
            data-auto-scroll="true" data-slide-speed="100" style="padding-top: 52px;  width: 250px; height: 700px;">
            <div class="menu">
              <a routerLink="/admin/main">MENU</a>
            </div>
   
    <a routerLink="/admin/addworker">Add Worker</a>
    <a routerLink="/admin/allworker">View All Worker</a>
    <a routerLink="/admin/addsupervisor">Add SuperVisor</a>
    <a routerLink="/admin/allsupervisor">view All Supervisor</a>
        </div>
      </div>
    </div>
  </div>
</div>


  
  <!-- Page content -->
  <!-- <div class="content">
    
  </div> -->
